<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ztorage API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>Ztorage API</h1>
  <h2>Documentation</h2>
  <h3>GET /</h3>
  Documentation
  <h3>GET /keys</h3>
  List all keys of the key-value -pairs that have been stored.
  <h3>GET /value?key=some_key</h3>
  Retrieve the value stored under the key some_key.
  <h3>POST /value?key=some_key&value=some_value</h3>
  Store/update some_key to store a value of some_value.
</body>
</html>
